.E{stroke:rgba(150,150,150,0.78431374);stroke-linecap:round;stroke-linejoin:round} 
 .TxtNrml{font-weight:bold;font-size:32px;fill:black}  
 .Tb{font-size:24px;font-weight:bold;fill:black}  
 .T1{fill:rgba(0,77,56,1.0);stroke:rgba(0,77,56,1.0);stroke-width:50;stroke-linecap:round;stroke-linejoin:round}  
 .T2{fill:rgba(0,55,86,1.0);stroke:rgba(0,55,86,1.0);stroke-width:50;stroke-linecap:round;stroke-linejoin:round}  
 .T1n{stroke-width:0;fill:rgba(0,77,56,1.0);stroke:rgba(0,77,56,1.0)}  
 .T2n{stroke-width:0;fill:rgba(0,55,86,1.0);stroke:rgba(0,55,86,1.0)}  
 .T1e{stroke-linecap:round;stroke-linejoin:round;stroke-width:50;stroke:rgba(0,77,56,1.0)}  
 .T2e{stroke-linecap:round;stroke-linejoin:round;stroke-width:50;stroke:rgba(0,55,86,1.0)}  
 .Tb2{font-size:18px;font-weight:bold;fill:black}  
 .TxtAch{font-size:18px;font-weight:bold;fill:black;text-anchor:start}  
 .N{stroke:rgba(150,150,150,0.78431374);fill:rgba(214,214,214,0.78431374);stroke-width:0}
 .f7{fill:rgba(178,0,0,1.0)}
 .f1{fill:rgba(255,0,255,1.0)}
 .f12{fill:rgba(0,55,86,1.0)}
 .f15{fill:rgba(128,128,128,1.0)}
 .f0{fill:rgba(255,200,0,1.0)}
 .f4{fill:rgba(255,255,255,1.0)}
 .f16{fill:rgba(0,77,56,0.6666667)}
 .f3{fill:rgba(255,175,175,1.0)}
 .f11{fill:rgba(0,77,56,1.0)}
 .f2{fill:rgba(0,255,255,1.0)}
 .f17{fill:rgba(0,55,86,0.6666667)}
 .f14{fill:rgba(0,158,115,1.0)}
 .f5{fill:rgba(0,0,0,1.0)}
 .f9{fill:rgba(0,255,0,1.0)}
 .f10{fill:rgba(0,0,255,1.0)}
 .f13{fill:rgba(0,114,178,1.0)}
 .f8{fill:rgba(0,124,0,1.0)}
 .f6{fill:rgba(178,178,0,1.0)}
 .s7{stroke:rgba(178,0,0,1.0)}
 .s1{stroke:rgba(255,0,255,1.0)}
 .s12{stroke:rgba(0,55,86,1.0)}
 .s15{stroke:rgba(128,128,128,1.0)}
 .s0{stroke:rgba(255,200,0,1.0)}
 .s4{stroke:rgba(255,255,255,1.0)}
 .s16{stroke:rgba(0,77,56,0.6666667)}
 .s3{stroke:rgba(255,175,175,1.0)}
 .s11{stroke:rgba(0,77,56,1.0)}
 .s2{stroke:rgba(0,255,255,1.0)}
 .s17{stroke:rgba(0,55,86,0.6666667)}
 .s14{stroke:rgba(0,158,115,1.0)}
 .s5{stroke:rgba(0,0,0,1.0)}
 .s9{stroke:rgba(0,255,0,1.0)}
 .s10{stroke:rgba(0,0,255,1.0)}
 .s13{stroke:rgba(0,114,178,1.0)}
 .s8{stroke:rgba(0,124,0,1.0)}
 .s6{stroke:rgba(178,178,0,1.0)}
 .sw0{stroke-width:0}
 .sw1{stroke-width:1}
 .sw2{stroke-width:2}
 .sw3{stroke-width:3}
 .sw4{stroke-width:4}
 .sw5{stroke-width:5}
 .sw6{stroke-width:6}
 .sw7{stroke-width:7}
 .sw8{stroke-width:8}
 .sw9{stroke-width:9}
 .sw10{stroke-width:10}